.aws
.husky
.vscode
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
.git
.gitattributes
.gitignore
.nvmrc
jest.config.js
.prettierrc.yml
.prettierignore
dist
